html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 3.5rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
  list-style: none;
}

a {
  color: #9B8055;
  text-decoration: none;
  font-weight: 500;
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 247, 247, 0.9)), to(#9B8055));
  background: linear-gradient(rgba(247, 247, 247, 0.9), #9B8055);
}

nav {
  width: 90%;
  margin: auto;
  min-height: 10vh;
  padding-top: 3rem 0rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .menu {
  -webkit-box-flex: .3;
      -ms-flex: .3;
          flex: .3;
}

nav .icons {
  -webkit-box-flex: .2;
      -ms-flex: .2;
          flex: .2;
}

.content {
  display: -ms-grid;
  display: grid;
  min-height: 90vh;
  -ms-grid-columns: 10% (1fr)[3] 10%;
      grid-template-columns: 10% repeat(3, 1fr) 10%;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
}

.content .caption-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-align: center;
}

.content img {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 28rem;
}

.content .caption-2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
}

@media screen and (max-width: 1060px) {
  nav .menu {
    -webkit-box-flex: 0.4;
        -ms-flex: 0.4;
            flex: 0.4;
  }
  nav .icons {
    -webkit-box-flex: 0.15;
        -ms-flex: 0.15;
            flex: 0.15;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  nav .menu {
    display: none;
  }
  nav .menuactive {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 30%;
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(255, 255, 255, 0.95);
    z-index: 2;
  }
  nav .menuactive li {
    margin: 5% auto;
  }
  nav .menuactive :hover {
    font-weight: bold;
    border-bottom: 2px solid #9B8055;
  }
  nav .icons {
    -webkit-box-flex: 0.3;
        -ms-flex: 0.3;
            flex: 0.3;
  }
  nav .icons .toggle {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url(/images/svg/bars-solid.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    z-index: 3;
  }
  nav .icons .active {
    background: url(/images/svg/closenav.svg);
    background-size: 20px;
    background-repeat: no-repeat;
  }
  .content {
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
  }
  .content .caption-1, .content img, .content .caption-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 550px) {
  nav .icons {
    -webkit-box-flex: 0.6;
        -ms-flex: 0.6;
            flex: 0.6;
  }
}

@media screen and (max-width: 360px) {
  nav .icons {
    -webkit-box-flex: 0.7;
        -ms-flex: 0.7;
            flex: 0.7;
  }
}
/*# sourceMappingURL=style.css.map */